<a href="https://colab.research.google.com/github/michsund/DATA612_Assignments/blob/main/Sunderman_Mod2_Data612.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 2

## Purpose:     
This assignment is intended to help you do the following:   
1.	Modify and add information on the dataset by adding and calculating new columns     
2.	Work with dates in a dataset       
3.	Learn how to write and save your work as a csv file from Jupyter Notebook.

## Action Items:       
â€¢	Create a new column using the date column.     
  1. Find the maximum date of your data.     
  2. Subtract all the dates on the column from the maximum date.       
  3. Convert the number of days into number of months.       
  4. Save the result on a new column and add to the data set.        
  5. Save the dataset as a csv file.        
  6. Upload the assignment on your GitHub account and Update the README file where you explain everything you did.

In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

In [3]:
df.head(1)

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705

[1 rows x 21 columns]

In [4]:
qdate = df['Quarter Begin Date']

In [5]:
qdate.max()

'10/01/2010'

In [6]:
qtrdate = pd.to_datetime(df['Quarter Begin Date'], format='%m/%d/%Y')

qtrdate

0        2010-10-01
1        2010-01-01
2        2010-04-01
3        2010-10-01
4        2010-04-01
            ...
156215   2010-04-01
156216   2010-10-01
156217   2010-10-01
156218   2010-10-01
156219   2010-01-01
Name: Quarter Begin Date, Length: 156220, dtype: datetime64[ns]

In [7]:
daydif = (qtrdate.max() - qtrdate)

daydif

0          0 days
1        273 days
2        183 days
3          0 days
4        183 days
           ...
156215   183 days
156216     0 days
156217     0 days
156218     0 days
156219   273 days
Name: Quarter Begin Date, Length: 156220, dtype: timedelta64[ns]

In [11]:
monthdif = daydif / np.timedelta64(1,'M')

monthdif

0         0.000000
1         8.969383
2         6.012444
3         0.000000
4         6.012444
            ...
156215    6.012444
156216    0.000000
156217    0.000000
156218    0.000000
156219    8.969383
Name: Quarter Begin Date, Length: 156220, dtype: float64

In [12]:
df['Max Date Difference'] = monthdif

In [13]:
df.head(2)

   Unnamed: 0 Utilization Type  ...          NDC  Max Date Difference
0      128037             MCOU  ...  37205013705             0.000000
1      491755             FFSU  ...  62756076388             8.969383

[2 rows x 22 columns]

In [14]:
df.to_csv('statedrugut_dates.csv', index=False)