<a href="https://colab.research.google.com/github/michsund/DATA612_Assignments/blob/main/Sunderman_Mod5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [85]:
import pandas as pd
import numpy as np

In [86]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

In [87]:
df.head()

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906

[5 rows x 21 columns]

In [88]:
print(df.dtypes)

Unnamed: 0                          int64
Utilization Type                   object
State                              object
Labeler Code                        int64
Product Code                        int64
Package Size                        int64
Year                                int64
Quarter                             int64
Product Name                       object
Units Reimbursed                  float64
Suppression Used                     bool
Number of Prescriptions             int64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                      object
Quarter Begin Date                 object
Latitude                          float64
Longitude                         float64
Location                           object
NDC                                 int64
dtype: object

In [89]:
df['Utilization Type'].value_counts()

FFSU    124299
MCOU     31921
Name: Utilization Type, dtype: int64

In [90]:
df['Utilization Type'] = df['Utilization Type'].astype("category")

In [91]:
df['Quarter'] = df['Quarter'].astype("category")

In [92]:
print(df['Utilization Type'].dtype)

category

In [93]:
print(df['Quarter'].dtype)

category

In [94]:
df['Unnamed: 0'] = df['Unnamed: 0'].astype(str)

In [95]:
print(df['Unnamed: 0'].dtype)

object