<a href="https://colab.research.google.com/github/michsund/DATA612_Assignments/blob/main/Sunderman_Mod1_612.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 1

## Purpose:      
This assignment is intended to help you do the following:       
1.	Open a GitHub account for your own use and for your career advancement (if you already do not have one).     
2.	Submit information and code in GitHub following best practices from the Udacity course.     
3.	Explore a dataset thoroughly.      
4.	Find and print descriptive information from the dataset.

## Action Items:           
Open a GitHub account to submit your work. If you are new to GitHub, follow the videos and instructions on the following link to understand how to post things on GitHub and start your own account. https://blog.udacity.com/2015/06/a-beginners-git-github-tutorial.html and/or https://guides.github.com/activities/hello-world/     

1.   Select the dataset of your choice from the list 
provided <a href="https://github.com/frankData612/data_612">here.</a>   
2.   Load the dataset using Jupyter notebook and explore the data by using the following.


-	Show the .head() and .tail() of the data set. Specify the number of rows to print using .head() and .tail().      
-	Print the column names.      
-	Print to see what is the type of your data set    
-	Check number of rows and columns.
-	Use groupby() and find the mean on your selected colum/s.
-	Add a README file in GitHub where you explain everything you did.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

In [5]:
df.head(8)

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906
5     2468555             FFSU  ...   (37.768, -78.2057)    143178501
6       73349             FFSU  ...   (37.768, -78.2057)  45802025742
7     1166159             FFSU  ...  (44.6074, -69.3977)    527058610

[8 rows x 21 columns]

In [4]:
df.tail(5)

        Unnamed: 0 Utilization Type  ...             Location          NDC
156215     2752214             MCOU  ...                  NaN  63868001701
156216     2519195             MCOU  ...  (44.6074, -69.3977)    121048910
156217      815768             MCOU  ...  (42.2373, -71.5314)  60432013325
156218     2029158             FFSU  ...  (38.8964, -77.0262)     88110947
156219     2799238             FFSU  ...  (38.8964, -77.0262)     29152725

[5 rows x 21 columns]

In [6]:
df.columns

Index(['Unnamed: 0', 'Utilization Type', 'State', 'Labeler Code',
       'Product Code', 'Package Size', 'Year', 'Quarter', 'Product Name',
       'Units Reimbursed', 'Suppression Used', 'Number of Prescriptions',
       'Total Amount Reimbursed', 'Medicaid Amount Reimbursed',
       'Non Medicaid Amount Reimbursed', 'Quarter Begin', 'Quarter Begin Date',
       'Latitude', 'Longitude', 'Location', 'NDC'],
      dtype='object')

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.shape

(156220, 21)

In [19]:
df.groupby('State')['Number of Prescriptions'].mean()

State
AK      29.119737
AL     157.579931
AR     111.283124
AZ     127.001769
CA     375.519322
CO      80.875000
CT     116.824053
DC      34.203146
DE      55.308199
FL     200.417330
GA     206.223196
HI      75.785784
IA      99.471346
ID      48.712156
IL     380.208102
IN     179.613321
KS      46.513686
KY     130.048473
LA     221.485499
MA     203.971945
MD      77.719033
ME      88.792571
MI     145.902327
MN      71.900102
MO     225.037850
MS     107.818493
MT      25.811543
NC     272.866933
ND      22.484375
NE      60.541899
NH      39.679090
NJ      85.264864
NM      85.002801
NV      35.759056
NY     826.832355
OH     476.512353
OK     120.092398
OR      68.720535
PA     155.683013
RI      25.979100
SC      66.271042
SD      24.370053
TN     200.465423
TX     664.153526
UT      63.815881
VA     116.293279
VT      41.332192
WA     109.811250
WI     211.407905
WV     136.927561
WY      20.690031
XX    2317.873565
Name: Number of Prescriptions, dtype: float64