<a href="https://colab.research.google.com/github/michsund/DATA612_Assignments/blob/main/Sunderman_Mod6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment for Week 6      
(Chapter 8 & 9)

## Purpose:     
This assignment is intended to help you do the following:     
1.	Advance your knowledge on working with strings
2.	Familiarize with regular expression
3.	Use of functions and .apply()

## Action Items:       
•	Working with strings.
1. Clean a column on your data set using 
regular expression methods.      
2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.     

  *Another data set will be provided if your data set is not appropriate to apply regular expression methods.        

•	Use of .apply() 

1.   Create a function that returns the mean, sum, mode, median, and range (separately)      
2.   Run the function into your chosen data set using the .apply() method.     
3.   Post your work on GitHub

In [1]:
 import pandas as pd
 import numpy as np
 import re

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')

In [3]:
df.head()

   Unnamed: 0 Utilization Type  ...             Location          NDC
0      128037             MCOU  ...  (31.1801, -91.8749)  37205013705
1      491755             FFSU  ...  (39.3498, -75.5148)  62756076388
2     2568076             FFSU  ...  (44.2853, -99.4632)  46987032311
3      491263             FFSU  ...  (43.3504, -84.5603)    781518501
4      836489             FFSU  ...                  NaN  51552080906

[5 rows x 21 columns]

In [4]:
df['Product Name'].value_counts()

LISINOPRIL    1897
METFORMIN     1370
RISPERIDON    1288
AMOXICILLI    1275
SIMVASTATI    1224
              ...
GOOD START       1
SUDAL-12 C       1
FA-CYANOCO       1
FAMVIR (FA       1
BALZIVA          1
Name: Product Name, Length: 10190, dtype: int64

In [5]:
p = re.compile('[A-Z]+[a-z]+')
prod = df['Product Name'].str.findall(p)
print(prod)

0                    []
1                    []
2         [Kadian, Ora]
3                    []
4                    []
              ...
156215               []
156216               []
156217               []
156218               []
156219               []
Name: Product Name, Length: 156220, dtype: object

In [6]:
df['Product Name Cleaned'] = df['Product Name'].str.replace('Kadian Ora', 'KADIAN ORA')

In [7]:
df['Product Name Cleaned']

0         ARTIFICIAL
1          TORSEMIDE
2         KADIAN ORA
3         LEVOTHYROX
4         COLD CREAM
             ...
156215    QC DOCUSAT
156216    DIPHENHYDR
156217    CLOBETASOL
156218    ALLEGRA (F
156219    BACTROBAN(
Name: Product Name Cleaned, Length: 156220, dtype: object

In [8]:
df.shape

(156220, 22)

In [9]:
scrips = df[['Number of Prescriptions', 'Package Size']].copy()

In [10]:
scrips.head()

   Number of Prescriptions  Package Size
0                        1             5
1                        8            88
2                        2            11
3                       34             1
4                        7             6

In [12]:
def avg(vec):
  tot = sum(vec)
  shp = vec.size
  return tot / shp

In [13]:
average = scrips.apply(avg)
print(average)

Number of Prescriptions    316.780067
Package Size                22.058885
dtype: float64

In [14]:
def sm(vec):
  totl = sum(vec)
  return totl
sum = scrips.apply(sm)
print(sum)

Number of Prescriptions    49487382
Package Size                3446039
dtype: int64

In [15]:
def rng(vec):
  high = max(vec)
  low = min(vec)
  return high - low

range = scrips.apply(rng)
print(range)

Number of Prescriptions    389126
Package Size                   99
dtype: int64

In [16]:
def med(vec):
  return vec.median()

In [17]:
mdnn = scrips.apply(med)
print(mdnn)

Number of Prescriptions    13.0
Package Size               10.0
dtype: float64

In [18]:
def mod(vec):
  return vec.mode()

mde = scrips.apply(mod)
print(mde)

   Number of Prescriptions  Package Size
0                        1             1